<form action="/movies/create" method="POST">
    <label for="title">Título: </label>
    <input type="text" name="title" id="title"><br>
    <label for="awards">Awards: </label>
    <input type="text" name="awards" id="awards"><br>
    <label for="length">Length: </label>
    <input type="text" name="length" id="length"><br>
    <label for="release_date">Fecha de Estreno: </label>
    <input type="text" name="release_date" id="release_date"><br>
    <button type="submit">CREAR</button>
</form>